.header{
    --height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--height/2);

    padding: 10px;
    font-family: 'Pacifico';
    background-color: chartreuse;
}
.logo{
    font-size: 3rem;
    
    text-transform: uppercase;
}
.phone{
    font-size: 2rem;
}
.reclama{
    /* align-self: stretch; */
    height: calc(var(--height) - 20);
    width: calc(var(--height)/13*8);
}

@media (min-width:576px){
    .header{
        
        background-color: navajowhite;
    }
}
@media (min-width:992px){
    .header{
        height: var(--height);
        background-color: olive;
    }
    .reclama{
        
        background-image: url(./../Images/Cat_August_2010-4.jpg);
        background-size: cover;
        background-position: center;
    }
}