p{
    color: #ccc;

    padding: 1em;
    font-size: 1.2rem;
    line-height: 1.2em;
}
h1{
    color: teal;

    font-family: 'Pacifico', cursive;
    font-size: 3rem;

    text-align: center;
}
h2{
    margin-top: 1em;
    color: dimgray;

    font-size: 1.8rem;
    font-style: italic;

    /* text-align: center;
    text-transform: uppercase; */
}
